{
  "extends": "./node_modules/builder-radium-component/config/eslint/.eslintrc-client-test",
  "plugins": [
   "flow-vars"
  ],
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}
